##  Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

## Ordinal encoding assigns numerical values to categorical data based on their order. Example: if a categorical variable has three categories, "low", "medium", and "high", then ordinal encoding might assign the values 1, 2, and 3 to these categories, respectively. This is important because it allows machine learning models to learn the relative importance of the different categories.


## Label encoding simply assigns a unique numerical value to each category, regardless of their order.  Example:  the categorical variable "low", "medium", and "high" might be encoded as 0, 1, and 2, respectively. This is less informative than ordinal encoding, but it is sometimes necessary when the order of the categories is not important.

##

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

In [1]:
import pandas as pd

# create a sample dataframe with a categorical variable and a target variable
df = pd.DataFrame({
    'city': ['New Delhi', 'Bangalore', 'Patna', 'mumbai', 'New Delhi', 'Bangalore'],
    'price': [250, 190, 200, 350, 280, 420]
})

In [2]:
df.head()

        city  price
0  New Delhi    250
1  Bangalore    190
2      Patna    200
3     mumbai    350
4  New Delhi    280

In [3]:
## calculate the mean price for each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'Bangalore': 305.0, 'New Delhi': 265.0, 'Patna': 200.0, 'mumbai': 350.0}

In [4]:
## replace each city with its mean price
df['city_encoded']=df['city'].map(mean_price)

In [5]:
df

        city  price  city_encoded
0  New Delhi    250         265.0
1  Bangalore    190         305.0
2      Patna    200         200.0
3     mumbai    350         350.0
4  New Delhi    280         265.0
5  Bangalore    420         305.0

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?


##  Covariance is a measure of the relationship between two random variables and to what extent, they change together This is the property of a function of maintaining its form when the variables are linearly transformed. Covariance is measured in units, which are calculated by multiplying the units of the two variables. 
## Covariance is important in statistical analysis because it can help to identify relationships between variables.
##

In [7]:
import numpy as np
x = np.array([1, 2, 3, 4, 5])
y = np.array([2, 4, 6, 8, 10])
cov = np.cov(x, y)

print(cov)

[[ 2.5  5. ]
 [ 5.  10. ]]

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [19]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Create a dataset with categorical variables
data = {
    "Color": ["red", "green", "blue"],
    "Size": ["small", "medium", "large"],
    "Material": ["wood", "metal", "plastic"]
}

# Create label encoders for each categorical variable
color_encoder = LabelEncoder()
size_encoder = LabelEncoder()
material_encoder = LabelEncoder()

# Encode the categorical variables
color_encoded = color_encoder.fit_transform(data["Color"])
size_encoded = size_encoder.fit_transform(data["Size"])
material_encoded = material_encoder.fit_transform(data["Material"])
print(color_encoded,size_encoded,material_encoded)

[2 1 0] [2 1 0] [2 0 1]

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [1]:
import pandas as pd


Data = pd.DataFrame( {
    "Age" : [24,28,35,45,55],
    "INcome": [10000,20000,35000,45000,100000],
    "Education":["High School", "College", "Graduate School", "Postgraduate", "Doctorate"]
})
print(Data)

   Age  INcome        Education
0   24   10000      High School
1   28   20000          College
2   35   35000  Graduate School
3   45   45000     Postgraduate
4   55  100000        Doctorate

In [2]:
cov_matrix = Data.cov()

print(cov_matrix)

             Age        INcome
Age        160.3  4.240000e+05
INcome  424000.0  1.232500e+09

/tmp/ipykernel_84/3170357478.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cov_matrix = Data.cov()

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

## Gender: Label encoding. There are only two categories in this variable, so label encoding is sufficient.
## Education Level: Ordinal encoding. The categories in this variable have a natural order, so ordinal encoding is appropriate.
## Employment Status: One-hot encoding. This variable is important for the machine learning model, and it has three categories. One-hot encoding will help the model to learn the relationships between the different categories in this variable.

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Temperature": [20,22,32,40,45,50],
    "Humidity": [50,55,60,65,68,70],
    "Weather Condition": ["Rainy", "Rainy","Cloudy", "Cloudy","Sunny", "Sunny"],
    "Wind Direction": ["West","East","South", "East", "North", "South"]
})

cov_matrix= df.cov()
print(cov_matrix)

             Temperature   Humidity
Temperature   150.566667  94.266667
Humidity       94.266667  60.666667

/tmp/ipykernel_635/2783500928.py:11: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cov_matrix= df.cov()